#post-toc {
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    background-color:#fff;
}
@media screen and (max-width:1080px){
    #post-toc {
        display: none;
    }
}
@media screen and (min-width:1080px){
    #post-toc {
        display: block;
    }
}